Source: mesos
Section: unknown
Priority: extra
Maintainer: unknown <curzonj@jc816a-scratch-006588.dfw2>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.2
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://git.debian.org/collab-maint/mesos.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/mesos.git;a=summary

Package: mesos
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
